:root {
  --color-primary:#E3B748;
  --color-white:#ffffff;
  --color-black:#121212;
  }
  *,
  *::before,
  ::after{
    box-sizing: border-box;
  }
  
  *{
    margin: 0;
  }
  
  html,body{
  height: 100%;
  background-color:  rgba(17, 17, 17, 1);
  COLOR: var(--color-white);
  }