.card {
 width: 359px;
    height: 377px;
    border-radius: 14px;
    border: 1.399999976158142px;
    background: var(--color-black);
    border: 1.4px solid rgba(255, 255, 255, 0.1);
  }
  
  .card.clicked {
      background-color: rgba(255, 255, 255, 0.1);
    }
  