.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.heroText{
    width: 571px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.heroText>h2{ 
   width: 571;
}

.heroText>h2{
    font-size: 66px;
    font-weight: 700;
}

.heroText>p{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
}

