.wrapper{
display: flex;
width: 438px;
height: 74px;
top: 615px;
left: 154px;
border-radius: 43px;
/* opacity: 10%; */
/* background-color: var(--color-white); */
background-color:rgba(35, 34, 34, 1);
align-items: center ;
/* justify-content: space-between; */
}

.input{
   background-color:rgba(35, 34, 34, 1) ;
    border-radius: 43px;
    width:70%;
    outline: none;
    border: none;
    margin: 24px ;
    color:  #FFFFFF;
   
}

.button{
width: 137px;
height: 62px;
border-radius: 43px;
margin:6px;
background-color: var(--color-primary);
opacity: none;
font-size: 16px;
font-weight: 600;
cursor: pointer;
}